<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pokemons</key>
	<array>
		<string>Abra</string>
		<string>Bellsprout</string>
		<string>Bulbasaur</string>
		<string>Caterpie</string>
		<string>Charmander</string>
		<string>Clefairy</string>
		<string>Cubone</string>
		<string>Diglett</string>
		<string>Doduo</string>
		<string>Dratini</string>
		<string>Drowzee</string>
		<string>Eevee</string>
		<string>Ekans</string>
		<string>Exeggcute</string>
		<string>Gastly</string>
		<string>Geodude</string>
		<string>Goldeen</string>
		<string>Grimer</string>
		<string>Growlithe</string>
		<string>Horsea</string>
		<string>Kabuto</string>
		<string>Koffing</string>
		<string>Krabby</string>
		<string>Machop</string>
		<string>Magikarp</string>
		<string>Magnemite</string>
		<string>Mankey</string>
		<string>Meowth</string>
		<string>Nidoran (female)</string>
		<string>Nidoran (male)</string>
		<string>Oddish</string>
		<string>Omanyte</string>
		<string>Paras</string>
		<string>Pidgey</string>
		<string>Pikachu</string>
		<string>Poliwag</string>
		<string>Ponyta</string>
		<string>Psyduck</string>
		<string>Rattata</string>
		<string>Rhyhorn</string>
		<string>Sandshrew</string>
		<string>Seel</string>
		<string>Shellder</string>
		<string>Slowpoke</string>
		<string>Spearow</string>
		<string>Squirtle</string>
		<string>Staryu</string>
		<string>Tentacool</string>
		<string>Venonant</string>
		<string>Voltorb</string>
		<string>Vulpix</string>
		<string>Weedle</string>
		<string>Zubat</string>
	</array>
	<key>levelsByStardust</key>
	<array>
		<dict>
			<key>level</key>
			<string>1</string>
			<key>stardust</key>
			<string>200</string>
		</dict>
		<dict>
			<key>level</key>
			<string>3</string>
			<key>stardust</key>
			<string>400</string>
		</dict>
		<dict>
			<key>level</key>
			<string>5</string>
			<key>stardust</key>
			<string>600</string>
		</dict>
		<dict>
			<key>level</key>
			<string>7</string>
			<key>stardust</key>
			<string>800</string>
		</dict>
		<dict>
			<key>level</key>
			<string>9</string>
			<key>stardust</key>
			<string>1000</string>
		</dict>
		<dict>
			<key>level</key>
			<string>11</string>
			<key>stardust</key>
			<string>1300</string>
		</dict>
		<dict>
			<key>level</key>
			<string>13</string>
			<key>stardust</key>
			<string>1600</string>
		</dict>
		<dict>
			<key>level</key>
			<string>15</string>
			<key>stardust</key>
			<string>1900</string>
		</dict>
		<dict>
			<key>level</key>
			<string>17</string>
			<key>stardust</key>
			<string>2200</string>
		</dict>
		<dict>
			<key>level</key>
			<string>19</string>
			<key>stardust</key>
			<string>2500</string>
		</dict>
		<dict>
			<key>level</key>
			<string>21</string>
			<key>stardust</key>
			<string>3000</string>
		</dict>
		<dict>
			<key>level</key>
			<string>23</string>
			<key>stardust</key>
			<string>3500</string>
		</dict>
		<dict>
			<key>level</key>
			<string>25</string>
			<key>stardust</key>
			<string>4000</string>
		</dict>
		<dict>
			<key>level</key>
			<string>27</string>
			<key>stardust</key>
			<string>4500</string>
		</dict>
		<dict>
			<key>level</key>
			<string>29</string>
			<key>stardust</key>
			<string>5000</string>
		</dict>
		<dict>
			<key>level</key>
			<string>31</string>
			<key>stardust</key>
			<string>6000</string>
		</dict>
		<dict>
			<key>level</key>
			<string>33</string>
			<key>stardust</key>
			<string>7000</string>
		</dict>
		<dict>
			<key>level</key>
			<string>35</string>
			<key>stardust</key>
			<string>8000</string>
		</dict>
		<dict>
			<key>level</key>
			<string>37</string>
			<key>stardust</key>
			<string>9000</string>
		</dict>
		<dict>
			<key>level</key>
			<string>39</string>
			<key>stardust</key>
			<string>10000</string>
		</dict>
	</array>
	<key>baseStats</key>
	<array>
		<dict>
			<key>pokemon</key>
			<string>Bulbasaur</string>
			<key>attack</key>
			<string>126</string>
			<key>defense</key>
			<string>126</string>
			<key>stamina</key>
			<string>90</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Ivysaur</string>
			<key>attack</key>
			<string>156</string>
			<key>defense</key>
			<string>158</string>
			<key>stamina</key>
			<string>120</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Venusaur</string>
			<key>attack</key>
			<string>198</string>
			<key>defense</key>
			<string>200</string>
			<key>stamina</key>
			<string>160</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Charmander</string>
			<key>attack</key>
			<string>128</string>
			<key>defense</key>
			<string>108</string>
			<key>stamina</key>
			<string>78</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Charmeleon</string>
			<key>attack</key>
			<string>160</string>
			<key>defense</key>
			<string>140</string>
			<key>stamina</key>
			<string>116</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Charizard</string>
			<key>attack</key>
			<string>212</string>
			<key>defense</key>
			<string>182</string>
			<key>stamina</key>
			<string>156</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Squirtle</string>
			<key>attack</key>
			<string>112</string>
			<key>defense</key>
			<string>142</string>
			<key>stamina</key>
			<string>88</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Wartortle</string>
			<key>attack</key>
			<string>144</string>
			<key>defense</key>
			<string>176</string>
			<key>stamina</key>
			<string>118</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Blastoise</string>
			<key>attack</key>
			<string>186</string>
			<key>defense</key>
			<string>222</string>
			<key>stamina</key>
			<string>158</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Caterpie</string>
			<key>attack</key>
			<string>62</string>
			<key>defense</key>
			<string>66</string>
			<key>stamina</key>
			<string>90</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Metapod</string>
			<key>attack</key>
			<string>56</string>
			<key>defense</key>
			<string>86</string>
			<key>stamina</key>
			<string>100</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Butterfree</string>
			<key>attack</key>
			<string>144</string>
			<key>defense</key>
			<string>144</string>
			<key>stamina</key>
			<string>120</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Weedle</string>
			<key>attack</key>
			<string>68</string>
			<key>defense</key>
			<string>64</string>
			<key>stamina</key>
			<string>80</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Kakuna</string>
			<key>attack</key>
			<string>62</string>
			<key>defense</key>
			<string>82</string>
			<key>stamina</key>
			<string>90</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Beedrill</string>
			<key>attack</key>
			<string>144</string>
			<key>defense</key>
			<string>130</string>
			<key>stamina</key>
			<string>130</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Pidgey</string>
			<key>attack</key>
			<string>94</string>
			<key>defense</key>
			<string>90</string>
			<key>stamina</key>
			<string>80</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Pidgeotto</string>
			<key>attack</key>
			<string>126</string>
			<key>defense</key>
			<string>122</string>
			<key>stamina</key>
			<string>126</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Pidgeot</string>
			<key>attack</key>
			<string>170</string>
			<key>defense</key>
			<string>166</string>
			<key>stamina</key>
			<string>166</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Rattata</string>
			<key>attack</key>
			<string>92</string>
			<key>defense</key>
			<string>86</string>
			<key>stamina</key>
			<string>60</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Raticate</string>
			<key>attack</key>
			<string>146</string>
			<key>defense</key>
			<string>150</string>
			<key>stamina</key>
			<string>110</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Spearow</string>
			<key>attack</key>
			<string>102</string>
			<key>defense</key>
			<string>78</string>
			<key>stamina</key>
			<string>80</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Fearow</string>
			<key>attack</key>
			<string>168</string>
			<key>defense</key>
			<string>146</string>
			<key>stamina</key>
			<string>130</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Ekans</string>
			<key>attack</key>
			<string>112</string>
			<key>defense</key>
			<string>112</string>
			<key>stamina</key>
			<string>70</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Arbok</string>
			<key>attack</key>
			<string>166</string>
			<key>defense</key>
			<string>166</string>
			<key>stamina</key>
			<string>120</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Pikachu</string>
			<key>attack</key>
			<string>124</string>
			<key>defense</key>
			<string>108</string>
			<key>stamina</key>
			<string>70</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Raichu</string>
			<key>attack</key>
			<string>200</string>
			<key>defense</key>
			<string>154</string>
			<key>stamina</key>
			<string>120</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Sanshrew</string>
			<key>attack</key>
			<string>90</string>
			<key>defense</key>
			<string>114</string>
			<key>stamina</key>
			<string>100</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Sandslash</string>
			<key>attack</key>
			<string>150</string>
			<key>defense</key>
			<string>172</string>
			<key>stamina</key>
			<string>150</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Nidoran♀</string>
			<key>attack</key>
			<string>100</string>
			<key>defense</key>
			<string>104</string>
			<key>stamina</key>
			<string>110</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Nidorina</string>
			<key>attack</key>
			<string>132</string>
			<key>defense</key>
			<string>136</string>
			<key>stamina</key>
			<string>140</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Nidoqueen</string>
			<key>attack</key>
			<string>184</string>
			<key>defense</key>
			<string>190</string>
			<key>stamina</key>
			<string>180</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Nidoran♂</string>
			<key>attack</key>
			<string>110</string>
			<key>defense</key>
			<string>94</string>
			<key>stamina</key>
			<string>92</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Nidorino</string>
			<key>attack</key>
			<string>142</string>
			<key>defense</key>
			<string>128</string>
			<key>stamina</key>
			<string>122</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Nidoking</string>
			<key>attack</key>
			<string>204</string>
			<key>defense</key>
			<string>170</string>
			<key>stamina</key>
			<string>162</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Clefairy</string>
			<key>attack</key>
			<string>116</string>
			<key>defense</key>
			<string>124</string>
			<key>stamina</key>
			<string>140</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Clefable</string>
			<key>attack</key>
			<string>178</string>
			<key>defense</key>
			<string>178</string>
			<key>stamina</key>
			<string>190</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Vulpix</string>
			<key>attack</key>
			<string>106</string>
			<key>defense</key>
			<string>118</string>
			<key>stamina</key>
			<string>76</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Ninetales</string>
			<key>attack</key>
			<string>176</string>
			<key>defense</key>
			<string>194</string>
			<key>stamina</key>
			<string>146</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Jigglypuff</string>
			<key>attack</key>
			<string>98</string>
			<key>defense</key>
			<string>54</string>
			<key>stamina</key>
			<string>230</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Wigglytuff</string>
			<key>attack</key>
			<string>168</string>
			<key>defense</key>
			<string>108</string>
			<key>stamina</key>
			<string>280</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Zubat</string>
			<key>attack</key>
			<string>88</string>
			<key>defense</key>
			<string>90</string>
			<key>stamina</key>
			<string>80</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Golbat</string>
			<key>attack</key>
			<string>164</string>
			<key>defense</key>
			<string>164</string>
			<key>stamina</key>
			<string>150</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Oddish</string>
			<key>attack</key>
			<string>134</string>
			<key>defense</key>
			<string>130</string>
			<key>stamina</key>
			<string>90</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Gloom</string>
			<key>attack</key>
			<string>162</string>
			<key>defense</key>
			<string>158</string>
			<key>stamina</key>
			<string>120</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Vileplume</string>
			<key>attack</key>
			<string>202</string>
			<key>defense</key>
			<string>190</string>
			<key>stamina</key>
			<string>150</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Paras</string>
			<key>attack</key>
			<string>122</string>
			<key>defense</key>
			<string>120</string>
			<key>stamina</key>
			<string>70</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Paraset</string>
			<key>attack</key>
			<string>162</string>
			<key>defense</key>
			<string>170</string>
			<key>stamina</key>
			<string>120</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Venonat</string>
			<key>attack</key>
			<string>108</string>
			<key>defense</key>
			<string>118</string>
			<key>stamina</key>
			<string>120</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Venomoth</string>
			<key>attack</key>
			<string>172</string>
			<key>defense</key>
			<string>154</string>
			<key>stamina</key>
			<string>140</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Diglett</string>
			<key>attack</key>
			<string>108</string>
			<key>defense</key>
			<string>86</string>
			<key>stamina</key>
			<string>20</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Dugtrio</string>
			<key>attack</key>
			<string>148</string>
			<key>defense</key>
			<string>140</string>
			<key>stamina</key>
			<string>70</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Meowth</string>
			<key>attack</key>
			<string>104</string>
			<key>defense</key>
			<string>94</string>
			<key>stamina</key>
			<string>80</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Persian</string>
			<key>attack</key>
			<string>156</string>
			<key>defense</key>
			<string>146</string>
			<key>stamina</key>
			<string>130</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Psyduck</string>
			<key>attack</key>
			<string>132</string>
			<key>defense</key>
			<string>112</string>
			<key>stamina</key>
			<string>100</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Golduck</string>
			<key>attack</key>
			<string>194</string>
			<key>defense</key>
			<string>176</string>
			<key>stamina</key>
			<string>160</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Mankey</string>
			<key>attack</key>
			<string>122</string>
			<key>defense</key>
			<string>96</string>
			<key>stamina</key>
			<string>80</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Primeape</string>
			<key>attack</key>
			<string>178</string>
			<key>defense</key>
			<string>150</string>
			<key>stamina</key>
			<string>130</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Growlithe</string>
			<key>attack</key>
			<string>156</string>
			<key>defense</key>
			<string>110</string>
			<key>stamina</key>
			<string>110</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Arcanine</string>
			<key>attack</key>
			<string>230</string>
			<key>defense</key>
			<string>180</string>
			<key>stamina</key>
			<string>180</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Poliwag</string>
			<key>attack</key>
			<string>108</string>
			<key>defense</key>
			<string>98</string>
			<key>stamina</key>
			<string>80</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Poliwhirl</string>
			<key>attack</key>
			<string>132</string>
			<key>defense</key>
			<string>132</string>
			<key>stamina</key>
			<string>130</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Poliwrath</string>
			<key>attack</key>
			<string>180</string>
			<key>defense</key>
			<string>202</string>
			<key>stamina</key>
			<string>180</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Abra</string>
			<key>attack</key>
			<string>110</string>
			<key>defense</key>
			<string>76</string>
			<key>stamina</key>
			<string>50</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Kadabra</string>
			<key>attack</key>
			<string>150</string>
			<key>defense</key>
			<string>112</string>
			<key>stamina</key>
			<string>80</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Alakazam</string>
			<key>attack</key>
			<string>186</string>
			<key>defense</key>
			<string>152</string>
			<key>stamina</key>
			<string>110</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Machop</string>
			<key>attack</key>
			<string>118</string>
			<key>defense</key>
			<string>96</string>
			<key>stamina</key>
			<string>140</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Machoke</string>
			<key>attack</key>
			<string>154</string>
			<key>defense</key>
			<string>144</string>
			<key>stamina</key>
			<string>160</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Machamp</string>
			<key>attack</key>
			<string>198</string>
			<key>defense</key>
			<string>180</string>
			<key>stamina</key>
			<string>180</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Bellsprout</string>
			<key>attack</key>
			<string>158</string>
			<key>defense</key>
			<string>78</string>
			<key>stamina</key>
			<string>100</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Weepinbell</string>
			<key>attack</key>
			<string>190</string>
			<key>defense</key>
			<string>110</string>
			<key>stamina</key>
			<string>130</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Victreebel</string>
			<key>attack</key>
			<string>222</string>
			<key>defense</key>
			<string>152</string>
			<key>stamina</key>
			<string>160</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Tentacool</string>
			<key>attack</key>
			<string>106</string>
			<key>defense</key>
			<string>136</string>
			<key>stamina</key>
			<string>80</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Tentacruel</string>
			<key>attack</key>
			<string>170</string>
			<key>defense</key>
			<string>196</string>
			<key>stamina</key>
			<string>160</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Geodude</string>
			<key>attack</key>
			<string>106</string>
			<key>defense</key>
			<string>118</string>
			<key>stamina</key>
			<string>80</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Graveler</string>
			<key>attack</key>
			<string>142</string>
			<key>defense</key>
			<string>156</string>
			<key>stamina</key>
			<string>110</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Golem</string>
			<key>attack</key>
			<string>176</string>
			<key>defense</key>
			<string>198</string>
			<key>stamina</key>
			<string>160</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Ponyta</string>
			<key>attack</key>
			<string>168</string>
			<key>defense</key>
			<string>138</string>
			<key>stamina</key>
			<string>100</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Rapidash</string>
			<key>attack</key>
			<string>200</string>
			<key>defense</key>
			<string>170</string>
			<key>stamina</key>
			<string>130</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Slowpoke</string>
			<key>attack</key>
			<string>110</string>
			<key>defense</key>
			<string>110</string>
			<key>stamina</key>
			<string>180</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Slowbro</string>
			<key>attack</key>
			<string>184</string>
			<key>defense</key>
			<string>198</string>
			<key>stamina</key>
			<string>190</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Magnemite</string>
			<key>attack</key>
			<string>128</string>
			<key>defense</key>
			<string>138</string>
			<key>stamina</key>
			<string>50</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Magneton</string>
			<key>attack</key>
			<string>186</string>
			<key>defense</key>
			<string>180</string>
			<key>stamina</key>
			<string>100</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Farfetch&apos;d</string>
			<key>attack</key>
			<string>138</string>
			<key>defense</key>
			<string>132</string>
			<key>stamina</key>
			<string>104</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Doduo</string>
			<key>attack</key>
			<string>126</string>
			<key>defense</key>
			<string>96</string>
			<key>stamina</key>
			<string>70</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Dodrio</string>
			<key>attack</key>
			<string>182</string>
			<key>defense</key>
			<string>150</string>
			<key>stamina</key>
			<string>120</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Seel</string>
			<key>attack</key>
			<string>104</string>
			<key>defense</key>
			<string>138</string>
			<key>stamina</key>
			<string>130</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Dewgong</string>
			<key>attack</key>
			<string>156</string>
			<key>defense</key>
			<string>192</string>
			<key>stamina</key>
			<string>180</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Grimer</string>
			<key>attack</key>
			<string>124</string>
			<key>defense</key>
			<string>110</string>
			<key>stamina</key>
			<string>160</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Muk</string>
			<key>attack</key>
			<string>180</string>
			<key>defense</key>
			<string>188</string>
			<key>stamina</key>
			<string>210</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Shellder</string>
			<key>attack</key>
			<string>120</string>
			<key>defense</key>
			<string>112</string>
			<key>stamina</key>
			<string>60</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Cloyster</string>
			<key>attack</key>
			<string>196</string>
			<key>defense</key>
			<string>196</string>
			<key>stamina</key>
			<string>100</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Gastly</string>
			<key>attack</key>
			<string>136</string>
			<key>defense</key>
			<string>82</string>
			<key>stamina</key>
			<string>60</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Haunter</string>
			<key>attack</key>
			<string>172</string>
			<key>defense</key>
			<string>118</string>
			<key>stamina</key>
			<string>90</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Gengar</string>
			<key>attack</key>
			<string>204</string>
			<key>defense</key>
			<string>156</string>
			<key>stamina</key>
			<string>120</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Onix</string>
			<key>attack</key>
			<string>90</string>
			<key>defense</key>
			<string>186</string>
			<key>stamina</key>
			<string>70</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Drowzee</string>
			<key>attack</key>
			<string>104</string>
			<key>defense</key>
			<string>140</string>
			<key>stamina</key>
			<string>120</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Hypno</string>
			<key>attack</key>
			<string>162</string>
			<key>defense</key>
			<string>196</string>
			<key>stamina</key>
			<string>170</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Krabby</string>
			<key>attack</key>
			<string>116</string>
			<key>defense</key>
			<string>110</string>
			<key>stamina</key>
			<string>60</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Kingler</string>
			<key>attack</key>
			<string>178</string>
			<key>defense</key>
			<string>168</string>
			<key>stamina</key>
			<string>110</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Voltorb</string>
			<key>attack</key>
			<string>102</string>
			<key>defense</key>
			<string>124</string>
			<key>stamina</key>
			<string>80</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Electrode</string>
			<key>attack</key>
			<string>150</string>
			<key>defense</key>
			<string>174</string>
			<key>stamina</key>
			<string>120</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Exeggcute</string>
			<key>attack</key>
			<string>110</string>
			<key>defense</key>
			<string>132</string>
			<key>stamina</key>
			<string>120</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Exeggutor</string>
			<key>attack</key>
			<string>232</string>
			<key>defense</key>
			<string>164</string>
			<key>stamina</key>
			<string>190</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Cubone</string>
			<key>attack</key>
			<string>102</string>
			<key>defense</key>
			<string>150</string>
			<key>stamina</key>
			<string>100</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Marowak</string>
			<key>attack</key>
			<string>140</string>
			<key>defense</key>
			<string>202</string>
			<key>stamina</key>
			<string>120</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Hitmonlee</string>
			<key>attack</key>
			<string>148</string>
			<key>defense</key>
			<string>172</string>
			<key>stamina</key>
			<string>100</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Hitmonchan</string>
			<key>attack</key>
			<string>138</string>
			<key>defense</key>
			<string>204</string>
			<key>stamina</key>
			<string>100</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Lickitung</string>
			<key>attack</key>
			<string>126</string>
			<key>defense</key>
			<string>160</string>
			<key>stamina</key>
			<string>180</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Koffing</string>
			<key>attack</key>
			<string>136</string>
			<key>defense</key>
			<string>142</string>
			<key>stamina</key>
			<string>80</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Weezing</string>
			<key>attack</key>
			<string>190</string>
			<key>defense</key>
			<string>198</string>
			<key>stamina</key>
			<string>130</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Rhyhorn</string>
			<key>attack</key>
			<string>110</string>
			<key>defense</key>
			<string>116</string>
			<key>stamina</key>
			<string>160</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Rhydon</string>
			<key>attack</key>
			<string>166</string>
			<key>defense</key>
			<string>160</string>
			<key>stamina</key>
			<string>210</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Chansey</string>
			<key>attack</key>
			<string>40</string>
			<key>defense</key>
			<string>60</string>
			<key>stamina</key>
			<string>500</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Tangela</string>
			<key>attack</key>
			<string>164</string>
			<key>defense</key>
			<string>152</string>
			<key>stamina</key>
			<string>130</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Kangaskhan</string>
			<key>attack</key>
			<string>142</string>
			<key>defense</key>
			<string>178</string>
			<key>stamina</key>
			<string>210</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Horsea</string>
			<key>attack</key>
			<string>122</string>
			<key>defense</key>
			<string>100</string>
			<key>stamina</key>
			<string>60</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Seadra</string>
			<key>attack</key>
			<string>176</string>
			<key>defense</key>
			<string>150</string>
			<key>stamina</key>
			<string>110</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Goldeen</string>
			<key>attack</key>
			<string>112</string>
			<key>defense</key>
			<string>126</string>
			<key>stamina</key>
			<string>90</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Seaking</string>
			<key>attack</key>
			<string>172</string>
			<key>defense</key>
			<string>160</string>
			<key>stamina</key>
			<string>160</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Staryu</string>
			<key>attack</key>
			<string>130</string>
			<key>defense</key>
			<string>128</string>
			<key>stamina</key>
			<string>60</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Starmie</string>
			<key>attack</key>
			<string>194</string>
			<key>defense</key>
			<string>192</string>
			<key>stamina</key>
			<string>120</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Mr. Mime</string>
			<key>attack</key>
			<string>154</string>
			<key>defense</key>
			<string>196</string>
			<key>stamina</key>
			<string>80</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Scyther</string>
			<key>attack</key>
			<string>176</string>
			<key>defense</key>
			<string>180</string>
			<key>stamina</key>
			<string>140</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Jynx</string>
			<key>attack</key>
			<string>172</string>
			<key>defense</key>
			<string>134</string>
			<key>stamina</key>
			<string>130</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Electabuzz</string>
			<key>attack</key>
			<string>198</string>
			<key>defense</key>
			<string>160</string>
			<key>stamina</key>
			<string>130</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Magmar</string>
			<key>attack</key>
			<string>214</string>
			<key>defense</key>
			<string>158</string>
			<key>stamina</key>
			<string>130</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Pinsir</string>
			<key>attack</key>
			<string>184</string>
			<key>defense</key>
			<string>186</string>
			<key>stamina</key>
			<string>130</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Tauros</string>
			<key>attack</key>
			<string>148</string>
			<key>defense</key>
			<string>184</string>
			<key>stamina</key>
			<string>150</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Magikarp</string>
			<key>attack</key>
			<string>42</string>
			<key>defense</key>
			<string>84</string>
			<key>stamina</key>
			<string>40</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Gyarados</string>
			<key>attack</key>
			<string>192</string>
			<key>defense</key>
			<string>196</string>
			<key>stamina</key>
			<string>190</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Lapras</string>
			<key>attack</key>
			<string>186</string>
			<key>defense</key>
			<string>190</string>
			<key>stamina</key>
			<string>260</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Ditto</string>
			<key>attack</key>
			<string>110</string>
			<key>defense</key>
			<string>110</string>
			<key>stamina</key>
			<string>96</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Eevee</string>
			<key>attack</key>
			<string>114</string>
			<key>defense</key>
			<string>128</string>
			<key>stamina</key>
			<string>110</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Vaporeon</string>
			<key>attack</key>
			<string>186</string>
			<key>defense</key>
			<string>168</string>
			<key>stamina</key>
			<string>260</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Jolteon</string>
			<key>attack</key>
			<string>192</string>
			<key>defense</key>
			<string>174</string>
			<key>stamina</key>
			<string>130</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Flareon</string>
			<key>attack</key>
			<string>238</string>
			<key>defense</key>
			<string>178</string>
			<key>stamina</key>
			<string>130</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Porygon</string>
			<key>attack</key>
			<string>156</string>
			<key>defense</key>
			<string>158</string>
			<key>stamina</key>
			<string>130</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Omanyte</string>
			<key>attack</key>
			<string>132</string>
			<key>defense</key>
			<string>160</string>
			<key>stamina</key>
			<string>70</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Omastar</string>
			<key>attack</key>
			<string>180</string>
			<key>defense</key>
			<string>202</string>
			<key>stamina</key>
			<string>140</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Kabuto</string>
			<key>attack</key>
			<string>148</string>
			<key>defense</key>
			<string>142</string>
			<key>stamina</key>
			<string>60</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Kabutops</string>
			<key>attack</key>
			<string>190</string>
			<key>defense</key>
			<string>190</string>
			<key>stamina</key>
			<string>120</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Aerodactyl</string>
			<key>attack</key>
			<string>182</string>
			<key>defense</key>
			<string>162</string>
			<key>stamina</key>
			<string>160</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Snorlax</string>
			<key>attack</key>
			<string>180</string>
			<key>defense</key>
			<string>180</string>
			<key>stamina</key>
			<string>320</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Articuno</string>
			<key>attack</key>
			<string>198</string>
			<key>defense</key>
			<string>242</string>
			<key>stamina</key>
			<string>180</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Zapdos</string>
			<key>attack</key>
			<string>232</string>
			<key>defense</key>
			<string>194</string>
			<key>stamina</key>
			<string>180</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Moltres</string>
			<key>attack</key>
			<string>242</string>
			<key>defense</key>
			<string>194</string>
			<key>stamina</key>
			<string>180</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Dratini</string>
			<key>attack</key>
			<string>128</string>
			<key>defense</key>
			<string>110</string>
			<key>stamina</key>
			<string>82</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Dragonair</string>
			<key>attack</key>
			<string>170</string>
			<key>defense</key>
			<string>152</string>
			<key>stamina</key>
			<string>122</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Dragonite</string>
			<key>attack</key>
			<string>250</string>
			<key>defense</key>
			<string>212</string>
			<key>stamina</key>
			<string>182</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Mewtwo</string>
			<key>attack</key>
			<string>284</string>
			<key>defense</key>
			<string>202</string>
			<key>stamina</key>
			<string>212</string>
		</dict>
		<dict>
			<key>pokemon</key>
			<string>Mew</string>
			<key>attack</key>
			<string>220</string>
			<key>defense</key>
			<string>220</string>
			<key>stamina</key>
			<string>200</string>
		</dict>
	</array>
</dict>
</plist>
